aside {
    max-width: 22rem;
    background-color: #eceff5;
}

.aside-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.aside-header h1 {
    color: #48525d;
    font-weight: bold;
}

.history-information {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #48525d;
    border-top: 3px solid #dbdfe6;
    margin-left: 2px;
}

.history-information div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 3px solid #dbdfe6;
    border-bottom: 3px solid #dbdfe6;
    height: 3rem;
    width: 15rem;
    padding: 1rem;
}

.history-result {
    width: 22rem;
}

.history-result ul {
    height: 85vh;
    list-style: none;
    overflow-y: auto;
}

.history-result ul li {
    display: flex;
    align-items: center;
}

.history-result ul>li:nth-of-type(odd) {
    background-color: #dbdfe6;
}

.history-result span {
    text-transform: uppercase;
    font-size: 0.9rem;
}

.correct-choice {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.correct-choice .correct-color {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 10rem;
    border-radius: 10px;
    color: #fff;
}

.correct-choice .score-time {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.correct-choice .score-time span {
    margin-left: 0.5rem;
}

.wrong-choice {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.wrong-choice .choice-color {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 4.5rem;
    border-radius: 10px;
    color: #fff;
}

.wrong-choice .score-time {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.wrong-choice .score-time span {
    margin-left: 0.5rem;
}

.player-info{
    margin-left: 1.5rem;
}