main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.title {
    margin-bottom: 5rem;
}

.title h1 {
    color: #48525d;
    font-weight: bold;
}

.main-informations {
    display: flex;
    align-items: center;
    width: 25rem;
    height: 6rem;
    margin-bottom: 2rem;
    background-color: #e5e9f1;
    border: 2px solid #979fa9;
    border-radius: 10px;
}

.main-informations .remaning-time {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80px;
    margin: 2rem;
}

.main-informations .remaning-time span {
    color: #687481;
    font-weight: bold;
}

.main-informations .remaning-time span:first-child {
    padding-bottom: 1rem;
}

.main-informations .button-restart {
    height: 100%;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #aab1bb;
    border: none;
    color: white;
    font-size: 0.8rem;
}

.main-informations .button-restart:hover {
    filter: brightness(0.8);
}

.main-informations .score-information {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: #687481;
    font-weight: bold;
}

.main-informations .score-information .high-score {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #979fa9;
}

.main-informations .score-information .high-score span {
    max-width: 5rem;
}

.main-informations .score-information .score {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
}

.main-informations .score-information .score :nth-child(2) {
    margin-left: 2rem;
}

.select-color {
    display: flex;
    flex-direction: column;
    width: 25rem;
}

.select-color .time-bar {
    height: 0.5rem;
    background: #a0a7b0;
}

.select-color .color-to-guess {
    height: 25rem;
}

.color-options{
    display: flex;
    align-items: center;
    border: 2px solid #687481;
    border-radius: 10px;
    margin-top: 1rem;
    color: #687481;
    font-weight: bold;
}

.color-options .option{
    margin: 1rem;
}