main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
}

.title {
    margin-bottom: 5rem;
}

.title h1 {
    color: #48525d;
    font-weight: bold;
}

.mainInformations {
    display: flex;
    align-items: center;
    width: 25rem;
    height: 6rem;
    margin-bottom: 2rem;
    background-color: #e5e9f1;
    border: 2px solid #979fa9;
    border-radius: 10px;
}

.mainInformations .remaningTime {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80px;
    margin: 2rem;
}

.mainInformations .remaningTime span {
    color: #687481;
    font-weight: bold;
}

.mainInformations .remaningTime span:first-child {
    padding-bottom: 1rem;
}

.mainInformations .buttonRestart {
    height: 100%;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #aab1bb;
    border: none;
    color: white;
    font-size: 0.8rem;
}

.mainInformations .buttonRestart:hover {
    filter: brightness(0.8);
}

.mainInformations .scoreInformation {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: #687481;
    font-weight: bold;
}

.mainInformations .scoreInformation .highScore {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #979fa9;
}

.mainInformations .scoreInformation .highScore span {
    max-width: 5rem;
}

.mainInformations .scoreInformation .score {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
}

.mainInformations .scoreInformation .score :nth-child(2) {
    margin-left: 2rem;
}

.selectColor {
    display: flex;
    flex-direction: column;
    width: 25rem;
}

.selectColor .timeBar {
    height: 0.5rem;
    background: #e5e9f1;
}

.selectColor .colorToGuess {
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectColor .colorToGuess .color {
    height: 100%;
    width: 100%;
}

.selectColor .colorToGuess .buttonStart {
    position: absolute;
    width: 10rem;
    height: 3rem;
    border: 2px solid #687481;
    border-radius: 10px;
    color: #687481;
    font-weight: bold;
}

.selectColor .colorToGuess .buttonStart:hover {
    filter: brightness(0.8);
}

.colorOptions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    color: #687481;
    font-weight: bold;
    max-width: 25rem;
}

.colorOptions .buttonOption {
    width: 5rem;
    height: 3rem;
    border: 2px solid #687481;
    border-radius: 10px;
    color: #687481;
    font-weight: bold;
    text-transform: uppercase;
}

.colorOptions .buttonOption:hover {
    filter: brightness(0.8);
}