.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.modalContainer {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #fff;
    padding: 14px 28px;
    border-radius: 5px;
    max-width: 40rem;
    min-width: 20rem;
}

.modalTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.modalTitle h2 {
    color: #687481;
    font-weight: bold;
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.modalContent label {
    padding: 1rem;
    color: #687481;
    font-weight: bold;
    font-size: 1.2rem;
}

.modalContent input {
    height: 44px;
    padding: 0 15px;
    color: #687481;
    margin: 0 0 10px;
    font-weight: bold;
    border: 2px solid #687481;
    border-radius: 0.5rem;
}

.modalContent .selectLevelGame {
    margin-bottom: 1rem;
}

.modalContent .selectLevelGame select {
    width: 10rem;
    padding: 0.5rem;
    border: 2px solid #687481;
    border-radius: 5px;
    color: #687481;
    font-weight: bold;
    font-size: 1rem;
}

.modalContent .selectLevelGame select option {
    color: #687481;
    font-weight: bold;
    font-size: 1rem;
}

.modalContent button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3rem;
    border: 2px solid #687481;
    border-radius: 10px;
    color: #687481;
    font-weight: bold;
}

.modalContent button:hover {
    filter: brightness(0.8);
}