* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color-main: #fff;
}

body {
    color: #0f1419;
    -webkit-font-smoothing: antialiased;
    background: var(--background-color-main);
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #979797;
    border-radius: 10px;
}

body,
input,
textarea,
button {
    font: 400 1rem Roboto, sans-serif;
}

button {
    cursor: pointer;
}

.main-container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}