nav {
    min-width: 18rem;
}

nav .setting {
    display: flex;
    position: absolute;
    bottom: 1rem;
}

nav .setting button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    border: 2px solid #687481;
    border-radius: 10px;
    color: #687481;
    font-weight: bold;
    margin: 1rem;
    padding: 1rem;
}

nav .setting button:hover {
    filter: brightness(0.8);
}